<div class='container-fluid pb-2 h-100'>
    <div class='container h-100'>
        <div class='row h-100 align-items-center'>
            <div class='col-md-12'>    
                <div class='card'>
                    <div class='card-body'>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input [(ngModel)]="username" type="text" class="form-control" id="formGroupExampleInput" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input [(ngModel)]="password" type="password" class="form-control" id="formGroupExampleInput" placeholder="Password">
                        </div>
                        <button (click)='onClickMe()' class='btn btn-primary btn-block'>Login</button>
                        <div *ngIf="isWrong" class="alert alert-danger">{{message}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>