<table class="table table-striped">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>R$ 9.99</td>
        <td>
            <button class='btn btn-danger'>D</button>
            <button class='btn btn-info'>U</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>R$ 9.99</td>
        <td>
            <button class='btn btn-danger'>D</button>
            <button class='btn btn-info'>U</button>
        </td>
      </tr>
    </tbody>
</table>
<button class='btn btn-primary'>New product</button>