<div class='container-fluid'>
  <div class='container'>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td> {{ item.id }} </td>
            <td> {{ item.name }} </td>
            <td> {{ item.description }} </td>
            <td> {{ item.price }} </td>
            <td>
              <button (click)="onClickDelete(item.id)" class='btn btn-danger'>D</button>
              <button (click)="onClickUpdate(item)" class='btn btn-info'>U</button>
            </td>
          </tr>
        </tbody>
    </table>
    <button (click)="onClickNew()" class='btn btn-primary'>New product</button>
    <app-editform [item]="item"></app-editform>
  </div>
</div>